<div class="attendease-venues">
  <div class="attendease-header">
    {% assign t_size = page.venues.size %}
    <h1>{% t event.lingo.venues %}</h2>
  </div>

  {% for venue in page.venues %}

    <div class="attendease-venue" data-venue-id="{{ venue.id }}">

      {% if venue.address.latitude && venue.address.longitude %}
        {% if venue.primary %}
          {% assign marker_colour = 'blue' %}
        {% else %}
          {% assign marker_colour = 'red' %}
        {% endif %}

        <div class="attendease-venue-map">
          <div class="attendease-venue-map-image">
            <a href="/venues/{{ venue.slug }}"><img src="https://maps.google.com/maps/api/staticmap?center={{ venue.address.latitude }},{{ venue.address.longitude }}&zoom=13&size=100x100&sensor=false&markers=color:{{ marker_colour }}%7C{{ venue.address.latitude }},{{ venue.address.longitude }}" width="100" height="100" /></a>
          </div>
        </div>
      {% endif %}

      <div class="attendease-venue-name">
        <a href="/venues/{{ venue.slug }}">{{ venue.name }}</a>
      </div>

      {% if venue.address.address1 && venue.address.city %}
        <div class="attendease-venue-address">
          <div class="attendease-venue-address-address1">
            {{ venue.address.address1 }}
          </div>

          {% if venue.address.address2 %}
            <div class="attendease-venue-address-address2">
              {{ venue.address.address2 }}
            </div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endfor %}
</div>
