<div class="attendease-sponsors">
  <div class="attendease-header">
    <h1>{% attendease_t event.lingo.sponsors %}</h1>
  </div>

  {% for level in page.sponsor_levels %}
    {% unless level.sponsors.empty? %}
      <div class="attendease-sponsor-level">
        {{ level.name }}
      </div>

      {% for sponsor in level.sponsors %}
        <div class="attendease-sponsor" data-sponsor-id="{{ sponsor.id }}">
          {% if sponsor.logo_url %}
          <div class="attendease-sponsor-image">
            {% if sponsor.url %}
            <a href="{{ sponsor.url }}" target="_blank"><img class="attendease-sponsor-logo" src="{{ sponsor.logo_url }}" /></a>
            {% else %}
            <img class="attendease-sponsor-logo" src="{{ sponsor.logo_url }}" />
            {% endif %}
          </div>
          {% endif %}

          <div class="attendease-sponsor-name">
            {% if sponsor.url %}
            <a href="{{ sponsor.url }}" target="_blank">{{ sponsor.name }}</a>
            {% else %}
            <span>{{ sponsor.name }}</span>
            {% endif %}
          </div>

          {% if sponsor.description %}
          <div class="attendease-sponsor-description">
            {{ sponsor.description | markdownify }}
          </div>
          {% endif %}
        </div>
      {% endfor %}

    {% endunless %}
  {% endfor %}
</div>
