<div class="attendease-presenters">
  <div class="attendease-header">
    <h1>{% attendease_t event.lingo.presenters %}</h1>
  </div>

  {% unless page.presenters.size > 0 %}
    <p>Sorry, no presenter profiles are available.</p>
  {% endunless %}

  {% for presenter in page.presenters %}
    <div class="attendease-presenter" data-presenter-id="{{ presenter.id }}">
      <div class="attendease-presenter-profile-image">
        <a href="/presenters/{{ presenter.slug }}">
          <img src="{{ presenter.profile_url }}" />
        </a>
      </div>

      <div class="attendease-presenter-name">
        <a href="/presenters/{{ presenter.slug }}">{{ presenter.first_name }} {{ presenter.last_name }}</a>
      </div>

      <div class="attendease-presenter-title">
        {{ presenter.title }}
      </div>

      <div class="attendease-presenter-company">
        {{ presenter.company }}
      </div>

      {% if presenter.social %}
        <div class="attendease-presenter-social">
          {% if presenter.social.twitter and presenter.social.twitter != '' %}
            <a class="social-icon twitter" href="https://twitter.com/{{ presenter.social.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-3"></i></a>
          {% endif %}
          {% if presenter.social.facebook and presenter.social.facebook != '' %}
            <a class="social-icon facebook" href="https://www.facebook.com/{{ presenter.social.facebook }}" target="_blank"><i class="fa fa-facebook-square fa-3"></i></a>
          {% endif %}
          {% if presenter.social.linkedin and presenter.social.linkedin != '' %}
            <a class="social-icon linkedin" href="{{ presenter.social.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          {% endif %}
          {% if presenter.social.googleplus and presenter.social.googleplus != '' %}
            <a class="social-icon googleplus" href="{{ presenter.social.googleplus }}" target="_blank"><i class="fa fa-google-plus-square"></i></a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
