<div class="instance">
  <div class="name">
    {{ instance.session.name }}
  </div>

  <div class="description">
    {{ instance.session.description }}
  </div>

  <div class="time-and-place">
    {{ instance.time }} for {{ instance.duration }} minutes in {{ instance.room.name }} ({{ instance.room.capacity }} seats.)
  </div>

  <div class="presenters">
    {% for presenter in instance.session.presenters %}
      {% assign presenter = filter %}
      {% include attendease/presenter_item.html %}
    {% endfor %}
  </div>

  <div class="filters">
    {% for filter in instance.session.filters %}
      {% assign filter = filter %}
      {% include attendease/filter.html %}
    {% endfor %}
  </div>
</div>