<div class="attendease-navigation">
  <ul class="attendease-dates">
    {% for day in page.dates %}
    <li data-date="{{ day.date }}">
      <a href="/schedule/{{ day.date }}">{{ day.date_formatted }}</a>
    </li>
    {% endfor %}
    <li class="active">
      <a href="/schedule/sessions/">List all</a>
    </li>
  </ul>
</div>

<div class="attendease-schedule">
  {% for session in page.sessions %}
    <div class="attendease-session-and-instance {{ session.filter_tags }}" data-session-id="{{ session.id }}">
      <div class="attendease-name">
        <h2><a href="/schedule/sessions/{{ session.slug }}">{{ session.name }}</a></h2>
      </div>
      <div class="attendease-presenters">
        {% for presenter in session.presenters %}
          <div class="attendease-presenter-mini" data-presenter-id="{{ presenter.id }}">
            <div class="attendease-presenter-name">
              <a href="/presenters/{{ presenter.slug }}">{{ presenter.first_name }} {{ presenter.last_name }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

</div>
